# job 名称
jobname = collector

# 日志存放目录, 目录必须存在,不配置会存储在: data/log 下
log_dir = /opt/ripple/log

# pump日志级别 info / debug
log_level = info

# collector存放本地缓存的目录
data = /opt/ripple/collectordata

# 网络端使用的端口号
port = 7710

# collector本机ip地址
host = 127.0.0.1

#trail 文件大小  MB（与pump相同）
trail_max_size = 16

#  tcp keepalive 机制启用, 0 关闭, 1 开启
tcp_keepalive = 1

# 等待对端 ack 的超时时间, 单位为毫秒, 配置区间0---300000
tcp_user_timeout = 60000

# 在开始发送保活探测数据包之前，TCP连接处于非活动状态的时间,单位秒, 配置区间:0--300
tcp_keepalives_idle = 30

# 发送 keepavlie 的间隔, 单位秒, 配置区间: 0--300
tcp_keepalives_interval = 3

# 发送 keepalive 的次数, 配置区间: 0--100
tcp_keepalives_count = 10

# 服务器连接信息配置上传，不配置不上传到服务器 "ftp://user:password@192.168.235.12:port/"只配到端口号
ftpurl = ""

# 服务器相对路径 需要从登录的根路径开始配置"ftp/file/collectordata"
ftpdata = ""

#是否使用ssl加密  on/off
enable_ssl = off

#兼容版本 --- trail文件格式，暂未启用
compatibility = 10