# job 名称
jobname = xmanager

# 日志存放目录, 目录必须存在,不配置会存储在: data/log 下
log_dir = /opt/ripple/log

# xmanager 日志级别 info / debug
log_level = info

# xmanager 存放本地缓存的目录
data = /opt/ripple/xmanagerdata

# 网络端使用的端口号
port = 6543

# xmanager 本机ip地址
host = 127.0.0.1

#  tcp keepalive 机制启用, 0 关闭, 1 开启
tcp_keepalive = 1

# 等待对端 ack 的超时时间, 单位为毫秒, 配置区间0---300000
tcp_user_timeout = 60000

# 在开始发送保活探测数据包之前，TCP连接处于非活动状态的时间,单位秒, 配置区间:0--300
tcp_keepalives_idle = 30

# 发送 keepavlie 的间隔, 单位秒, 配置区间: 0--300
tcp_keepalives_interval = 3

# 发送 keepalive 的次数, 配置区间: 0--100
tcp_keepalives_count = 10

# unix domain 
unixdomaindir = /tmp
