# Log level
log_level = info

# Log directory
log_dir="/opt/receivewaldata/log"

# Working directory/Transaction log directory
data = "/opt/receivewaldata"

# Synchronization start timeline
timeline = 1

# Command to copy logs from source when logs are missing, %f %p are fixed format
restore_command = "scp user@ip:/opt/pg/archive/%f %p"

# Synchronization start LSN
startpos = "0/02000000"

# Source connection string
primary_conn_info = "port=9527 dbname=postgres user=postgres"

# Replication slot name (must exist in database), can be empty
slot_name = "recvwal"
