# Job name
jobname = integrate

# Log directory, must exist. If not configured, logs will be stored in: data/log
#log_dir = /opt/pgcastor/log

# Integrate log level: info / debug
log_level = info

# Directory for integrate local cache
data = /home/liu/pgcastor/pgcastor-pro/integratedata

# Target database connection
url = "port=5433 dbname=postgres user=liu"

# Trail file directory, should be the capture data directory
trail_dir = /home/liu/pgcastor/pgcastor-pro/capturedata

# Trail file size (MB), must match capture
trail_max_size = 16

# Schema for status tables during initialization, recommended to create a separate schema
catalog_schema = xsynch

# Number of threads for existing data application
max_work_per_refresh = 10

# Compression method, currently only supports bzip2 (for existing data, must match capture configuration)
compress_algorithm = bunzip2

# Compression level
compress_level = 9

# Compatibility version
compatibility = 10
