# job 名称
jobname = integrate

# 日志存放目录, 目录必须存在,不配置会存储在: data/log 下
log_dir = /opt/ripple/log

# integrate日志级别 info / debug
log_level = info

#integrate存放本地缓存的目录
data = /opt/ripple/integratedata

# 目标数据库连接
url = "port=5438 dbname=postgres user=postgres"

# origin id名称，两个节点一致
xsynch_roname = "xsynch_origin_id"

# trail文件目录，这里填capture的data目录
trail_dir = /opt/ripple/ripple/capturedata

#trail 文件大小  MB（与capture相同）
trail_max_size = 16

# 初始化时，存放状态表的schema，建议创建单独schema 
catalog_schema = xsynch

#存量数据应用开启线程数量
max_work_per_refresh = 10

# 压缩方式 目前只支持bzip2(存量数据，需要与 capture 填写的一直)
compress_algorithm = bunzip2

# 压缩级别
compress_level = 9

#兼容版本
compatibility = 10
